In [65]:
!wget https://api.openml.org/data/v1/download/22102331/Currency-Exchange-Rates.arff
!curl -O https://api.openml.org/data/v1/download/22102331/Currency-Exchange-Rates.arff

--2024-10-02 17:25:12--  https://api.openml.org/data/v1/download/22102331/Currency-Exchange-Rates.arff
Resolving api.openml.org (api.openml.org)... 131.155.11.11
Connecting to api.openml.org (api.openml.org)|131.155.11.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1985553 (1.9M)
Saving to: ‘Currency-Exchange-Rates.arff.1’

Currency-Exchange-R 100%[===================>]   1.89M   897KB/s    in 2.2s

2024-10-02 17:25:15 (897 KB/s) - ‘Currency-Exchange-Rates.arff.1’ saved [1985553/1985553]

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1939k  100 1939k    0     0   777k      0  0:00:02  0:00:02 --:--:--  777k

In [66]:
import arff
import pandas as pd

# Load ARFF file
with open('Currency-Exchange-Rates.arff') as file:
    dataset = arff.load(file)

# Extract column names from the attributes
column_names = [attr[0] for attr in dataset['attributes']]

# Convert to pandas DataFrame with column names
fx_data = pd.DataFrame(dataset['data'], columns=column_names)

# Display the DataFrame

fx_data.head()

,Date,Algerian_Dinar,Australian_Dollar,Bahrain_Dinar,Bolivar_Fuerte,Botswana_Pula,Brazilian_Real,Brunei_Dollar,Canadian_Dollar,Chilean_Peso,...,South_African_Rand,Sri_Lanka_Rupee,Swedish_Krona,Swiss_Franc,Thai_Baht,Trinidad_And_Tobago_Dollar,Tunisian_Dinar,U.A.E._Dirham,U.K._Pound_Sterling,U.S._Dollar
0,1995-1-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1995-1-3,NaN,NaN,0.376,NaN,NaN,0.843,NaN,1.4035,NaN,...,3.55,50.04,7.4588,1.3168,25.10,5.8750,NaN,3.671,1.5617,1.0
2,1995-1-4,NaN,0.7704,0.376,NaN,NaN,0.844,NaN,1.4026,NaN,...,3.56,50.07,7.4480,1.3161,25.13,5.8738,NaN,3.671,1.5605,1.0
3,1995-1-5,NaN,0.7693,0.376,NaN,NaN,0.844,NaN,1.4002,NaN,...,3.55,50.07,7.4450,1.3080,25.14,5.8700,NaN,3.671,1.5610,1.0
4,1995-1-6,NaN,0.7699,0.376,NaN,NaN,0.842,NaN,1.4002,NaN,...,3.56,50.07,NaN,1.3040,25.13,5.8810,NaN,3.671,1.5645,1.0

In [67]:
# checking the content of the data 
fx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978 entries, 0 to 5977
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        5978 non-null   object
 1   Algerian_Dinar              1866 non-null   float64
 2   Australian_Dollar           5715 non-null   float64
 3   Bahrain_Dinar               5909 non-null   float64
 4   Bolivar_Fuerte              2314 non-null   float64
 5   Botswana_Pula               4703 non-null   float64
 6   Brazilian_Real              5439 non-null   float64
 7   Brunei_Dollar               4732 non-null   float64
 8   Canadian_Dollar             5622 non-null   float64
 9   Chilean_Peso                4758 non-null   float64
 10  Chinese_Yuan                4662 non-null   float64
 11  Colombian_Peso              5396 non-null   float64
 12  Czech_Koruna                4128 non-null   float64
 13  Danish_Krone                5727 non-null   float64
 14  Euro                        4908 non-null   float64
 15  Hungarian_Forint            4563 non-null   float64
 16  Icelandic_Krona             5624 non-null   float64
 17  Indian_Rupee                5549 non-null   float64
 18  Indonesian_Rupiah           4486 non-null   float64
 19  Iranian_Rial                4666 non-null   float64
 20  Israeli_New_Sheqel          4039 non-null   float64
 21  Japanese_Yen                5662 non-null   float64
 22  Kazakhstani_Tenge           2927 non-null   float64
 23  Korean_Won                  5377 non-null   float64
 24  Kuwaiti_Dinar               4924 non-null   float64
 25  Libyan_Dinar                5855 non-null   float64
 26  Malaysian_Ringgit           5677 non-null   float64
 27  Mauritian_Rupee             3518 non-null   float64
 28  Mexican_Peso                3712 non-null   float64
 29  Nepalese_Rupee              5499 non-null   float64
 30  New_Zealand_Dollar          5668 non-null   float64
 31  Norwegian_Krone             5687 non-null   float64
 32  Nuevo_Sol                   1681 non-null   float64
 33  Pakistani_Rupee             5490 non-null   float64
 34  Peso_Uruguayo               1691 non-null   float64
 35  Philippine_Peso             1780 non-null   float64
 36  Polish_Zloty                4213 non-null   float64
 37  Qatar_Riyal                 5931 non-null   float64
 38  Rial_Omani                  5922 non-null   float64
 39  Russian_Ruble               3543 non-null   float64
 40  Saudi_Arabian_Riyal         5932 non-null   float64
 41  Singapore_Dollar            5719 non-null   float64
 42  South_African_Rand          5443 non-null   float64
 43  Sri_Lanka_Rupee             5469 non-null   float64
 44  Swedish_Krona               5629 non-null   float64
 45  Swiss_Franc                 5739 non-null   float64
 46  Thai_Baht                   5413 non-null   float64
 47  Trinidad_And_Tobago_Dollar  5321 non-null   float64
 48  Tunisian_Dinar              1720 non-null   float64
 49  U.A.E._Dirham               5907 non-null   float64
 50  U.K._Pound_Sterling         5856 non-null   float64
 51  U.S._Dollar                 5978 non-null   float64
dtypes: float64(51), object(1)
memory usage: 2.4+ MB

In [68]:
# Checking the shape of the data
fx_data.shape

(5978, 52)

In [69]:
print(fx_data.dtypes)

Date                           object
Algerian_Dinar                float64
Australian_Dollar             float64
Bahrain_Dinar                 float64
Bolivar_Fuerte                float64
Botswana_Pula                 float64
Brazilian_Real                float64
Brunei_Dollar                 float64
Canadian_Dollar               float64
Chilean_Peso                  float64
Chinese_Yuan                  float64
Colombian_Peso                float64
Czech_Koruna                  float64
Danish_Krone                  float64
Euro                          float64
Hungarian_Forint              float64
Icelandic_Krona               float64
Indian_Rupee                  float64
Indonesian_Rupiah             float64
Iranian_Rial                  float64
Israeli_New_Sheqel            float64
Japanese_Yen                  float64
Kazakhstani_Tenge             float64
Korean_Won                    float64
Kuwaiti_Dinar                 float64
Libyan_Dinar                  float64
Malaysian_Ringgit             float64
Mauritian_Rupee               float64
Mexican_Peso                  float64
Nepalese_Rupee                float64
New_Zealand_Dollar            float64
Norwegian_Krone               float64
Nuevo_Sol                     float64
Pakistani_Rupee               float64
Peso_Uruguayo                 float64
Philippine_Peso               float64
Polish_Zloty                  float64
Qatar_Riyal                   float64
Rial_Omani                    float64
Russian_Ruble                 float64
Saudi_Arabian_Riyal           float64
Singapore_Dollar              float64
South_African_Rand            float64
Sri_Lanka_Rupee               float64
Swedish_Krona                 float64
Swiss_Franc                   float64
Thai_Baht                     float64
Trinidad_And_Tobago_Dollar    float64
Tunisian_Dinar                float64
U.A.E._Dirham                 float64
U.K._Pound_Sterling           float64
U.S._Dollar                   float64
dtype: object

In [70]:
# select the numeric data group 
numeric_data_columns = fx_data.select_dtypes(include=['float64'])
numeric_data_columns

,Algerian_Dinar,Australian_Dollar,Bahrain_Dinar,Bolivar_Fuerte,Botswana_Pula,Brazilian_Real,Brunei_Dollar,Canadian_Dollar,Chilean_Peso,Chinese_Yuan,...,South_African_Rand,Sri_Lanka_Rupee,Swedish_Krona,Swiss_Franc,Thai_Baht,Trinidad_And_Tobago_Dollar,Tunisian_Dinar,U.A.E._Dirham,U.K._Pound_Sterling,U.S._Dollar
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,NaN,NaN,0.376,NaN,NaN,0.8430,NaN,1.4035,NaN,NaN,...,3.55000,50.0400,7.4588,1.3168,25.100,5.8750,NaN,3.6710,1.56170,1.0
2,NaN,0.7704,0.376,NaN,NaN,0.8440,NaN,1.4026,NaN,NaN,...,3.56000,50.0700,7.4480,1.3161,25.130,5.8738,NaN,3.6710,1.56050,1.0
3,NaN,0.7693,0.376,NaN,NaN,0.8440,NaN,1.4002,NaN,NaN,...,3.55000,50.0700,7.4450,1.3080,25.140,5.8700,NaN,3.6710,1.56100,1.0
4,NaN,0.7699,0.376,NaN,NaN,0.8420,NaN,1.4002,NaN,NaN,...,3.56000,50.0700,NaN,1.3040,25.130,5.8810,NaN,3.6710,1.56450,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5973,114.8506,0.7574,0.376,66770.1562,0.1023,3.4971,1.3274,1.2862,603.31,6.3352,...,12.40640,157.4628,8.5481,0.9835,31.595,6.7842,2.42955,3.6725,1.39655,1.0
5974,115.0604,0.7545,0.376,66770.1562,0.1020,3.4670,1.3269,NaN,603.31,6.3407,...,NaN,157.6459,8.6911,0.9907,31.617,6.7572,2.43120,3.6725,1.37685,1.0
5975,114.8873,0.7570,0.376,68827.5000,0.1023,3.4805,1.3238,1.2836,605.74,6.3407,...,12.43145,157.6459,8.6774,0.9894,31.510,6.7393,2.43190,3.6725,1.37250,1.0
5976,NaN,0.7540,0.376,NaN,NaN,NaN,NaN,NaN,610.98,NaN,...,NaN,157.4737,NaN,NaN,NaN,6.7385,NaN,3.6725,1.36945,1.0
5977,NaN,NaN,0.376,NaN,NaN,NaN,NaN,NaN,NaN,6.3609,...,12.61265,NaN,NaN,NaN,NaN,NaN,NaN,3.6725,1.36535,1.0

In [71]:
# checking for the missing data 
fx_data.isnull().sum()

Date                             0
Algerian_Dinar                4112
Australian_Dollar              263
Bahrain_Dinar                   69
Bolivar_Fuerte                3664
Botswana_Pula                 1275
Brazilian_Real                 539
Brunei_Dollar                 1246
Canadian_Dollar                356
Chilean_Peso                  1220
Chinese_Yuan                  1316
Colombian_Peso                 582
Czech_Koruna                  1850
Danish_Krone                   251
Euro                          1070
Hungarian_Forint              1415
Icelandic_Krona                354
Indian_Rupee                   429
Indonesian_Rupiah             1492
Iranian_Rial                  1312
Israeli_New_Sheqel            1939
Japanese_Yen                   316
Kazakhstani_Tenge             3051
Korean_Won                     601
Kuwaiti_Dinar                 1054
Libyan_Dinar                   123
Malaysian_Ringgit              301
Mauritian_Rupee               2460
Mexican_Peso                  2266
Nepalese_Rupee                 479
New_Zealand_Dollar             310
Norwegian_Krone                291
Nuevo_Sol                     4297
Pakistani_Rupee                488
Peso_Uruguayo                 4287
Philippine_Peso               4198
Polish_Zloty                  1765
Qatar_Riyal                     47
Rial_Omani                      56
Russian_Ruble                 2435
Saudi_Arabian_Riyal             46
Singapore_Dollar               259
South_African_Rand             535
Sri_Lanka_Rupee                509
Swedish_Krona                  349
Swiss_Franc                    239
Thai_Baht                      565
Trinidad_And_Tobago_Dollar     657
Tunisian_Dinar                4258
U.A.E._Dirham                   71
U.K._Pound_Sterling            122
U.S._Dollar                      0
dtype: int64

In [72]:
# Cleaning column headers 
def clean_column_names(df):
    # ensure columns is of string type
    df.columns = df.columns.astype(str)
    # strip of any leading and trailing spaces 
    df.columns = df.columns.str.strip()
    # convert all columns headers to lower case 
    df.columns = df.columns.str.lower()
    return df


# calling the function 
clean_column_names(fx_data)

,date,algerian_dinar,australian_dollar,bahrain_dinar,bolivar_fuerte,botswana_pula,brazilian_real,brunei_dollar,canadian_dollar,chilean_peso,...,south_african_rand,sri_lanka_rupee,swedish_krona,swiss_franc,thai_baht,trinidad_and_tobago_dollar,tunisian_dinar,u.a.e._dirham,u.k._pound_sterling,u.s._dollar
0,1995-1-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1995-1-3,NaN,NaN,0.376,NaN,NaN,0.8430,NaN,1.4035,NaN,...,3.55000,50.0400,7.4588,1.3168,25.100,5.8750,NaN,3.6710,1.56170,1.0
2,1995-1-4,NaN,0.7704,0.376,NaN,NaN,0.8440,NaN,1.4026,NaN,...,3.56000,50.0700,7.4480,1.3161,25.130,5.8738,NaN,3.6710,1.56050,1.0
3,1995-1-5,NaN,0.7693,0.376,NaN,NaN,0.8440,NaN,1.4002,NaN,...,3.55000,50.0700,7.4450,1.3080,25.140,5.8700,NaN,3.6710,1.56100,1.0
4,1995-1-6,NaN,0.7699,0.376,NaN,NaN,0.8420,NaN,1.4002,NaN,...,3.56000,50.0700,NaN,1.3040,25.130,5.8810,NaN,3.6710,1.56450,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5973,2018-4-26,114.8506,0.7574,0.376,66770.1562,0.1023,3.4971,1.3274,1.2862,603.31,...,12.40640,157.4628,8.5481,0.9835,31.595,6.7842,2.42955,3.6725,1.39655,1.0
5974,2018-4-27,115.0604,0.7545,0.376,66770.1562,0.1020,3.4670,1.3269,NaN,603.31,...,NaN,157.6459,8.6911,0.9907,31.617,6.7572,2.43120,3.6725,1.37685,1.0
5975,2018-4-30,114.8873,0.7570,0.376,68827.5000,0.1023,3.4805,1.3238,1.2836,605.74,...,12.43145,157.6459,8.6774,0.9894,31.510,6.7393,2.43190,3.6725,1.37250,1.0
5976,2018-5-1,NaN,0.7540,0.376,NaN,NaN,NaN,NaN,NaN,610.98,...,NaN,157.4737,NaN,NaN,NaN,6.7385,NaN,3.6725,1.36945,1.0
5977,2018-5-2,NaN,NaN,0.376,NaN,NaN,NaN,NaN,NaN,NaN,...,12.61265,NaN,NaN,NaN,NaN,NaN,NaN,3.6725,1.36535,1.0

In [85]:
# Filling the missing values with the median of the column
def fill_missing_values(df, column_names):
    median_value = df[column_names].median()
    df[column_names] = df[column_names].fillna(median_value)
    return df

for column_names in numeric_data_columns:
    clean_data_for_use = fill_missing_values(numeric_data_columns, column_names)

clean_data = numeric_data_columns
clean_data

,Algerian_Dinar,Australian_Dollar,Bahrain_Dinar,Bolivar_Fuerte,Botswana_Pula,Brazilian_Real,Brunei_Dollar,Canadian_Dollar,Chilean_Peso,Chinese_Yuan,...,South_African_Rand,Sri_Lanka_Rupee,Swedish_Krona,Swiss_Franc,Thai_Baht,Trinidad_And_Tobago_Dollar,Tunisian_Dinar,U.A.E._Dirham,U.K._Pound_Sterling,U.S._Dollar
0,81.27915,0.7595,0.376,6.2842,0.1528,2.0480,1.46825,1.2972,538.585,6.9889,...,7.48000,103.9921,7.6183,1.1878,34.650,6.2824,1.723395,3.6725,1.59870,1.0
1,81.27915,0.7595,0.376,6.2842,0.1528,0.8430,1.46825,1.4035,538.585,6.9889,...,3.55000,50.0400,7.4588,1.3168,25.100,5.8750,1.723395,3.6710,1.56170,1.0
2,81.27915,0.7704,0.376,6.2842,0.1528,0.8440,1.46825,1.4026,538.585,6.9889,...,3.56000,50.0700,7.4480,1.3161,25.130,5.8738,1.723395,3.6710,1.56050,1.0
3,81.27915,0.7693,0.376,6.2842,0.1528,0.8440,1.46825,1.4002,538.585,6.9889,...,3.55000,50.0700,7.4450,1.3080,25.140,5.8700,1.723395,3.6710,1.56100,1.0
4,81.27915,0.7699,0.376,6.2842,0.1528,0.8420,1.46825,1.4002,538.585,6.9889,...,3.56000,50.0700,7.6183,1.3040,25.130,5.8810,1.723395,3.6710,1.56450,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5973,114.85060,0.7574,0.376,66770.1562,0.1023,3.4971,1.32740,1.2862,603.310,6.3352,...,12.40640,157.4628,8.5481,0.9835,31.595,6.7842,2.429550,3.6725,1.39655,1.0
5974,115.06040,0.7545,0.376,66770.1562,0.1020,3.4670,1.32690,1.2972,603.310,6.3407,...,7.48000,157.6459,8.6911,0.9907,31.617,6.7572,2.431200,3.6725,1.37685,1.0
5975,114.88730,0.7570,0.376,68827.5000,0.1023,3.4805,1.32380,1.2836,605.740,6.3407,...,12.43145,157.6459,8.6774,0.9894,31.510,6.7393,2.431900,3.6725,1.37250,1.0
5976,81.27915,0.7540,0.376,6.2842,0.1528,2.0480,1.46825,1.2972,610.980,6.9889,...,7.48000,157.4737,7.6183,1.1878,34.650,6.7385,1.723395,3.6725,1.36945,1.0
5977,81.27915,0.7595,0.376,6.2842,0.1528,2.0480,1.46825,1.2972,538.585,6.3609,...,12.61265,103.9921,7.6183,1.1878,34.650,6.2824,1.723395,3.6725,1.36535,1.0

In [82]:
clean_data.isnull().sum()

Algerian_Dinar                0
Australian_Dollar             0
Bahrain_Dinar                 0
Bolivar_Fuerte                0
Botswana_Pula                 0
Brazilian_Real                0
Brunei_Dollar                 0
Canadian_Dollar               0
Chilean_Peso                  0
Chinese_Yuan                  0
Colombian_Peso                0
Czech_Koruna                  0
Danish_Krone                  0
Euro                          0
Hungarian_Forint              0
Icelandic_Krona               0
Indian_Rupee                  0
Indonesian_Rupiah             0
Iranian_Rial                  0
Israeli_New_Sheqel            0
Japanese_Yen                  0
Kazakhstani_Tenge             0
Korean_Won                    0
Kuwaiti_Dinar                 0
Libyan_Dinar                  0
Malaysian_Ringgit             0
Mauritian_Rupee               0
Mexican_Peso                  0
Nepalese_Rupee                0
New_Zealand_Dollar            0
Norwegian_Krone               0
Nuevo_Sol                     0
Pakistani_Rupee               0
Peso_Uruguayo                 0
Philippine_Peso               0
Polish_Zloty                  0
Qatar_Riyal                   0
Rial_Omani                    0
Russian_Ruble                 0
Saudi_Arabian_Riyal           0
Singapore_Dollar              0
South_African_Rand            0
Sri_Lanka_Rupee               0
Swedish_Krona                 0
Swiss_Franc                   0
Thai_Baht                     0
Trinidad_And_Tobago_Dollar    0
Tunisian_Dinar                0
U.A.E._Dirham                 0
U.K._Pound_Sterling           0
U.S._Dollar                   0
dtype: int64

In [84]:
fx_data[numeric_data_columns] = clean_data

TypeError: Must pass DataFrame or 2-d ndarray with boolean values only